body {
  box-sizing: border-box;
  background:skyblue;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 72px;
}
.carousel-top {
  display:flex;
  justify-content: center;
}
.btn-move {
  width: 3rem;
  position: absolute;
  top: 50%;
}
#btn-move-left {
  position: absolute;
  margin-left: -260px;
  margin-top: 300px;
  opacity: 0.5;
}
#btn-move-right {
  position: absolute;
  margin-left: 260px;
  margin-top: 300px;
  opacity: 0.5;
}
.carousel-bottom {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
.btn-circle {
  width: 0.8rem;
  height: auto;
  margin: 0 0.2rem;
  opacity: 0.5;
}
.btn-circle-toggle {
  opacity: 1;
  width: 0.8rem;
  height: auto;
  margin: 0 0.2rem;
}